.avatar-editor {
  margin-top:-320px ;
  border-radius:50% ;
  // margin-left:600px;
  .select-cover{
    background-repeat:no-repeat;
    margin-bottom: 20px;
    position: relative;
    margin-left:55px;
    margin-top:73px;
    .ant-btn {
      // position: absolute;
      top: 40%;
      left: 35%;
      // margin-left: -56px;
      margin-top: 200px;
    }
  }
  .control-bar{
    width: 250px;
  }
}