.inpu_wid{
  width: 300px;
}
.card_word{
  position: absolute;
  top:60px;
  left: -160px;
  background-color: #262729;
  border-color: #262729;
  width: 470px;
}

:global {
  ol {
    list-style-type: demical;
  }
  ol li {
    list-style-position: inside;
  }
  ul {
    list-style-type: decimal;
  }

  ul li {
    list-style-position: inside;
  }
}

.card_word ul li{
margin-top: 1px;
}
.check{
  color: white;
  //margin-left: -280px;

}
.ant-form-item-control{
  width: 200px;

}

 .ant-form-item-label > label{
   color: white;
 }

.ant-input-number-input {
  color: #222222;
}
.ant-form-item-control{
width: 200px;
}
.number{
  position: absolute;
  left: -55px;
}
.team_fist{
  margin: -20px 0;
  color:white;
  font-size:30px;
}

.ant-list-items {
  margin: 40px 150px;
  text-align: left;
}
.ant-list{
  border:none;
}
.ant-list-split .ant-list-item{
  border:none;
}


