.ant-layout-content{
  padding: 0 !important;
}
.mission_hall {
  height: 100%;
  margin: 24px;

  .filter{
    margin: 8px;
    border: 1px solid white;
    height: 400px
  }
  .mission-list {
    margin: 8px;
  }
}
