
td.ant-table-column-has-actions.ant-table-column-has-filters{
  color: #222222;
}


.card {
  width: 1070px;
  height: 550px;
  margin-left: 30px;
  margin-top: 20px;
  background-color: white;
}

.card2{
  width: 210px;
  height: auto;
  margin-left: 1120px;
  top:-520px;
  background-color: white;
}

.card1{
  width: 210px;
  height: auto;
  margin-left: 1120px;
  top:-540px;
  background-color: white;
}
.card1 p{
  color: #222222;
}
.card2 p{
  color: #222222;
}
.ant-card-head-title{
  color: #ff732b;
  font-weight: bold;
  font-size: 18px;
}

.ant-table-column-title{
  color: #222222;
}
.ant-list-item.ant-list-item-no-flex{
  color: #222222;
}


.btn{
  width: 210px;
  margin-left: 1120px;
  top:-570px;
}

/*分页*/
.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next{
  margin-left: 20px;
}
.ant-pagination-item-link{
  margin-top: -100px;
  left: -10px;
}
.ant-pagination-item-1 .ant-pagination-item-active{
  display: inline;
}

a{
  margin-top: -100px;
  left: -1px;
}
.select{
  margin-left: 30px;
}
.add{
  margin-left: 30px;
}
td{
  color: #222222;
}
.ant-popover-message-title{
  color: #222222;
}
.editable-cell-value-wrap {
  color: #222222;
}
.ant-table table{
  text-align: center;
  padding: 1px;
}
.ant-table-thead > tr > th {
  text-align: center;
}
