.logo {
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  line-height: 1;
}
div{
  color: white;
}
.ant-layout-sider-trigger{
  background: #222222
}
.ant-layout-header {
  padding: 0 24px;
}
